@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* เพิ่มเติม CSS Global ตรงนี้ถ้าต้องการ */
body {
  font-family: 'Chakra Petch', sans-serif;
}